body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.frontpage {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(225, 255, 255, 0.2)), url(../../css/img/forest1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  overflow: hidden;
}
.frontpage__container {
  margin-top: 15vh;
}
.frontpage__wave {
  position: relative;
  width: 150%;
  height: 150%;
  border-radius: 25%;
}
.frontpage__wave:before,
.frontpage__wave:after {
  content: "";
  position: absolute;
  width: 300%;
  height: 200%;
  bottom: -275%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -75%);
  background-color: #000;
}
.frontpage__wave:before {
  border-radius: 50%;
  left: 10%;
  background: rgba(255, 255, 255, 0.1);
  animation: waveAnimation 15s linear infinite;
}
.frontpage__wave:after {
  border-radius: 50%;
  background: rgba(150, 150, 150, 0.25);
  animation: waveAnimation 10s linear infinite;
}
@keyframes waveAnimation {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  1000% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
body {
  display: flex;
  flex-flow: row wrap;
}
header {
  width: 100%;
}
header {
  clear: both;
  height: 10vh;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.5s;
  width: 100%;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
}
.header {
  width: 90%;
  text-align: center;
}
.navigation {
  background-color: green;
}
.navigation__btn {
  margin-right: 5px;
  margin-top: 5px;
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  position: relative;
  border: 2px solid #000000;
  cursor: pointer;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.5s;
  /*animation for when navigation is clicked 
                The burger menu changes into an X symbol by rotating the spans
                that make up the burger menu.
              */
}
.navigation__btn:hover {
  border: 2px solid #ffffff;
}
.navigation__btn:hover span {
  background-color: white;
}
.navigation__btn__span {
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.4s;
  position: absolute;
  width: 80%;
  height: 0.3rem;
  background-color: #222;
  display: block;
  border-radius: 10px;
  left: 10%;
}
.navigation__btn__span--1 {
  top: 20%;
}
.navigation__btn__span--2 {
  top: 45%;
}
.navigation__btn__span--3 {
  bottom: 20%;
}
.navigation__btn--close .navigation__btn__span--1 {
  transform: rotate(45deg);
  top: 49%;
}
.navigation__btn--close .navigation__btn__span--2,
.navigation__btn--close .navigation__btn__span--3 {
  transform: rotate(-45deg);
  top: 49%;
}
/*

This file contains the constants for this
projects.
This will be colors and standard sices.

Changing these variables changes larger parts
of the website.
*/
/*
colours 
*/
/*
sices
*/
@keyframes waveAnimation {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
