body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.frontpage {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(225, 255, 255, 0.2)), url(../../css/img/forest1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  overflow: hidden;
}
.frontpage__container {
  margin-top: 15vh;
}
.frontpage__wave {
  position: relative;
  width: 150%;
  height: 150%;
  border-radius: 25%;
}
.frontpage__wave:before,
.frontpage__wave:after {
  content: "";
  position: absolute;
  width: 300%;
  height: 200%;
  bottom: -275%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -75%);
  background-color: #000;
}
.frontpage__wave:before {
  border-radius: 50%;
  left: 10%;
  background: rgba(255, 255, 255, 0.1);
  animation: waveAnimation 15s linear infinite;
}
.frontpage__wave:after {
  border-radius: 50%;
  background: rgba(150, 150, 150, 0.25);
  animation: waveAnimation 10s linear infinite;
}
@keyframes waveAnimation {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  1000% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
body {
  display: flex;
  flex-flow: row wrap;
}
header {
  width: 100%;
}
.navigation {
  /* Btn and Checkbox checked with btn*/
  /* Background and checked Nav + background */
  /* Items and nav checked with items*/
}
.navigation__checkbox {
  opacity: 0;
}
.navigation__checkbox,
.navigation__btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin-right: 5px;
  margin-top: 5px;
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  border: 2px solid #000000;
  cursor: pointer;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.5s;
  z-index: 150;
}
.navigation__btn {
  z-index: 125;
}
.navigation__checkbox:checked ~ .navigation__btn {
  border-color: white;
}
.navigation__checkbox:checked ~ .navigation__btn span {
  transform: rotate(-45deg);
  top: 49%;
  background-color: white;
}
.navigation__checkbox:checked ~ .navigation__btn :last-child {
  transform: rotate(45deg);
}
.navigation__checkbox:hover ~ .navigation__btn {
  border-color: white;
}
.navigation__checkbox:hover ~ .navigation__btn span {
  background-color: white;
}
.navigation__btn__span {
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.4s;
  position: absolute;
  width: 80%;
  height: 0.3rem;
  background-color: #222;
  display: block;
  border-radius: 10px;
  left: 10%;
}
.navigation__btn__span--1 {
  top: 20%;
}
.navigation__btn__span--2 {
  top: 45%;
}
.navigation__btn__span--3 {
  bottom: 20%;
}
.navigation__background {
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.5s;
  background-image: linear-gradient(210deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  width: 2rem;
  height: 2rem;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 100;
  border-radius: 50%;
}
.navigation__checkbox:checked ~ .navigation__background {
  background-image: linear-gradient(210deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
  transform: scale(40);
}
.navigation__items {
  position: absolute;
  z-index: 125;
  width: 0%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translateX(125vw);
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.5s;
}
.navigation__items__item {
  list-style: none;
  color: #ffffff;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 1000;
  padding: 0rem 0rem;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in;
}
.navigation__items__item:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}
.navigation__checkbox:checked ~ .navigation__items {
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__checkbox:checked ~ .navigation__items li {
  padding: 1rem 1.5rem;
}
@keyframes waveAnimation {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
/*

This file contains the constants for this
projects.
This will be colors and standard sices.

Changing these variables changes larger parts
of the website.
*/
/*
colours 
*/
/*
sices
*/
