.parallax-advanced{
    width: 100%;

    &__background{
        position: relative;
        height: 600px;
        background-image: url("../../css/img/beachparallax.jpg");
        background-size: 100% auto;
        background-position: top center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    &__textbox{
        text-align: center;
    }

}